<!DOCTYPE html>
<html>
<head>
	<title>Site2Vec</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
     <script>
         $(document).ready(function () {
           $('#dtBasicExample1').DataTable({"pagingType": "simple_numbers"});
           $('.dataTables_length').addClass('bs-select');
           });
     </script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>

     <script src="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css"></script>
     <style >
          .footer {
                
                 left: 0;
                 bottom: 0;
                 width: 100%;
                 background-color: #ECF0F1;
                 color: #000080;
                 text-align: center;
          }
     </style>

		
</head>
<body>
     <div class=footer>
       	<footer id="sticky-footer" class="page-footer font-small special-color-dark pt-3">

         		<div class="footer-copyright text-center py-4">© 2019 Copyright:
           		<a href="https://iittp.ac.in/"> IIT Tirupati</a>
         		</div>


       	</footer>
     </div>
</body>
</html>