<!DOCTYPE html>
<html>
<head>
	
	<title>Site2Vec</title>
   	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
  	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script>
		$(document).ready(function () {
  		$('#dtBasicExample').DataTable({"pagingType": "simple_numbers"});
  		$('.dataTables_length').addClass('bs-select');
			});

	</script>
  		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  		<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  		<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>

		<script src="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css"></script>
		<link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>

</head>

<body>


	{% include "header.html" %}
	<div class="container mt-3">

	

		<ul class="nav nav-tabs nav-justified" role="tablist">
    		<li class="nav-item">
      			<a class="nav-link active" data-toggle="pill" href="#home">Home</a>
    		</li>
    		<li class="nav-item">
      			<a class="nav-link" data-toggle="pill" href="#Search">Download</a>
    		</li>
    		<li class="nav-item">
      			<a class="nav-link" data-toggle="pill" href="#menu2">Similar Site</a>
    		</li>
    		<li class="nav-item">
      			<a class="nav-link" data-toggle="pill" href="#menu3">Relationship Digram</a>
    		</li>
  		</ul>


  		<div class="tab-content">
  		

  			<div id="home" class="container tab-pane active"><br>

  				<h3>Vector Encoding of Binding Site</h3><br>
  				<div>
					<p>Site2vec, a novel machine learning-based method for reference frame invariant ligand-independent vector embedding of the 3D structure of a protein-ligand binding site. Each binding site is represented as a 200-dimensional vector form.</p>
					<p>Upload a pdb file and our method provides a zip file containg the vector representation of binding sites.</p>
	
				</div>		



				{% with messages = get_flashed_messages() %}
			   		{% if messages %}
			      		{% for message in messages %}

				      			<div class="alert alert-warning" role="alert">
									
				         			<strong>Warning </strong>{{  message }}
				         		</div>

			      		{% endfor %}
			   		{% endif %}
				{% endwith %}
				
				
				<form action="/pdbdownload" method="post" enctype="multipart/form-data">
					
					<div class="form-group">
  						<label for="pdbid">PDB code:</label>
  						<p><b>Ex. 1f9a</b> <em>(Site2vec will download the protein file from PDB) </em></p>


  						<input type="text" class="form-control" name="pdbid" placeholder="2hhb" required/>
					</div> 
					<input type = "submit" value="Download" class="btn btn-primary"> <br>
				</form>
					<br>
					<center><strong>OR</strong></center>
					<br>
				<p><b>Ex. 1f9a.pdb</b> <em>(Upload your own PDB file) </em></p>
				<form action = "/success" method = "post" enctype="multipart/form-data">  
			    

			    <div class="custom-file mb-3">
			    	
			    	<input type="file" name="file" class="custom-file-input" data-max-file-size="2M" required/> 
			    	
			    	<label for="file" class="custom-file-label">Select PDB File</label>
			    </div>    
			    	 
			        <input type = "submit" value="Upload" class="btn btn-primary"> 

			    </form>

			    <form action = "/multiplefile" method = "post" enctype="multipart/form-data"> 
			    	<input type = "submit" value="Upload multiple File" class="btn btn-link">
			    </form>
			</div>

			<div id="Search" class="container tab-pane fade"><br>
				<h3>Download</h3>
				<p>Site2vec, a novel machine learning-based method for reference frame invariant ligand-independent vector embedding of the 3D structure of a protein-ligand binding site. Each binding site is represented as a 200-dimensional vector form.</p>
				<h4>Download Pre compiled binding Sites</h4>
				
				<p>Download pre-comiled more than Sixty Five thousand vector representation of binding Sites generated by <strong>Site2Vec</strong> method. These binding sites are used to create clusters and train the autoencoder.</p>				


					<!--
							<form action="/Filedownload" method="POST">	
									 
												<div class="container">
												<table id="dtBasicExample" class="table table-striped" >
													<thead>
														<tr>
															
															<th class="th-sm">Site</th>

														</tr>
													</thead>
													
														<tbody>
															{% for site in siteData %}
															<tr>
																
																<td class="th-sm">
																	<input type="checkbox" value={{ site}} name="filedownload">
																
																 {{ site}}</td> 
															</tr>
															{% endfor %}
														</tbody>
														
												</table>
												<button type="submit" class="btn btn-success">Download</button>

												</div> 
								</form>
					
					
					-->	

					
					<form action="/search" method="POST">
						<button type="submit" class="btn btn-info">Go to download section</button>

					</form>

					

					
					
				


    		</div>
    		<div id="menu2" class="container tab-pane fade"><br>
      			<h3>Fetch Similar Sites</h3>
      			<p>Upload a Site vector and select number of similar sites, and press upload button, it will fetch similar sites from the precompiled binding sites</p>
      			<p>Upload a site vector Descriptor</p>
      			<form action="/find" method="post" enctype="multipart/form-data">
      				
	      				<div class="form-row">
	      					<div class="col">
			      				<input type="file" name="Findfile" class="custom-file-input" data-max-file-size="2M" required/>
			      				<label for="Findfile" class="custom-file-label">Select a Site Vector</label>
			      			</div>

		      				<div class="col">
		      					
		      					
			      				<select name="KneaestNeighbour" class="form-control" placeholder="Select One">
			      					<option value=1 selected>1</option>
			      					{% for i in range(5,51,5)%}
			      						<option value={{i}}>{{i}}</option>
			      					{% endfor %}

			      				</select>
			      				
		      				</div>

		      				<div class="col">
		      					<button type = "submit" value="UploadFind" class="btn btn-primary">Upload</button> 
		      				</div><br>

		      			</div>

	
      			</form>

    		</div>

    		<div id="menu3" class="container tab-pane fade"><br>
    			<h3>Relationship Diagram as Dendrogram</h3>
    			<p>Upload more than one binding site vector descriptors and a dedrogram is formed that shows the similarity comparison of uploaded sites</p>
    			<form action="/display" method="post" enctype="multipart/form-data">
    				<div class="custom-file mb-3">
	    				<input type="file" name="displayfile" class="custom-file-input" multiple="multiple" required/> 
	    	
	    				<label for="displayfile" class="custom-file-label">Upload more than one site vector files</label>    					

    				</div>

    				<input type = "submit" value="Upload" class="btn btn-primary"> 

    			</form>
    			
    		</div>


		</div>    
	</div>




	<p> </p><br>
	<!-- Footer -->
	{% include "footer.html" %}
<!-- Footer -->

</body>
</html>